<main role="main">
    <table class="table" style="width: 100%; align-self: center;">
        <thead>
            <tr>
                <th *ngFor="let column of headers">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaItems">
                <td>
                    {{item.nombre}}
                </td>
                <td>
                    {{item.ingredientes}}
                </td>
                <td>
                    {{item.peso}}
                </td>
                <td>
                    {{item.precio}}
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="modificarPizza(item);">Modificar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                        (click)="borrarPizza(item);">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>