<div class="background">
  <div class="col ">
      <form class="needs-validation" novalidate>
        <div class="mb-3">
          <input type="text" 
                 class="form-control" 
                 name="descripcion"
                 placeholder={{nombre}} 
                 disabled="true">
          </div>
          <div class="mb-3">
              <input type="text" 
                     class="form-control" 
                     name="descripcion"
                     placeholder={{ingredientes}} 
                     disabled="true">
          </div>
          <div class="mb-3">
              <input type="number" 
                     class="form-control" 
                     name="precio"
                     placeholder={{precio}}  
                     disabled="true">
          </div>
          <div class="mb-3">
              <input type="number" 
                     class="form-control"
                     name="stock"
                     placeholder={{peso}} 
                    disabled="true">
          </div>
          <button class="btn btn-warning form-control" type="button" (click)="borrarPizza()">Borrar
            Pizza</button>              
      </form>
  </div>
</div>